.logo {
  width: 100%;
  display: flex;
  margin-top: 42px;
}

.logo img {
  width: 260px;
  height: 93px;
  margin: 0 auto;
}

/* search */
.search__bar {
  position: relative;
  display: flex;
  align-items: center;
}
.search__bar i {
  position: absolute;
  right: 10px;
  cursor: pointer;
  font-size: 1.5rem;
  background: #e7e7e7;
}

.search__bar input {
  height: 69px;
  width: 100%;
  background: #e7e7e7;
  outline: none;
  text-overflow: ellipsis;
}
.search__bar input::placeholder {
  color: #000;
  opacity: 0.25;
}

/* tags */
.tags {
  padding: 10px;
}
.tags > i {
  margin-left: 8px;
}
.search__tags > span i {
  cursor: pointer;
}
.search__tags > span i:hover {
  color: #000;
}

/* recipe */

.card-body {
  background: #e7e7e7;
  height: 190px;
  overflow: hidden;
}

.card-title {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  max-width: 70%;
}
.card-title i {
  margin-right: 5px;
}

.recipe__info--first {
  width: 100%;
  font-weight: bold;
  display: flex;
  align-items: baseline;
  justify-content: space-between;
}
.recipe__info--first i {
  margin-right: 3px;
}
.recipe__info--second {
  display: flex;
  font-size: 12px;
}

.ingredients {
  margin-right: 26px;
}

.ingredient__list {
  margin-right: 0px;
}

.etape {
  /* width: 40rem;
  overflow: hidden;
  text-overflow: ellipsis; */

  /* width: 40rem; */
  flex-basis: 50rem;
  line-height: 1.3;
  height: 9rem;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 7;
  overflow: hidden;

  /* text-align: end; */
}
